@import "Colors.css";

.tree-control-panel {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--color3);
    overflow-x: scroll;
}

.gene-controller-wrapper {
    padding: 1rem;
}

.gene-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}